<% provide(:title, "Sign Up") %>

<%= form_for @user do |f| %>
<%= render 'shared/errors', object: @user %>
<div class="card">
    <div class="card-header">
        <blockquote class="blockquote text-right">
          Sign up <cite title="Source Title"><footer class="blockquote-footer">as</cite></footer>
        </blockquote>
    </div>
    <div class="card-body">
        <%= render 'users/form' %>
    </div>
</div>
<% end %>