<%= render 'shared/errors', object: @user_session %>
<div class="card">
    <div class="card-header">
        <blockquote class="blockquote text-right">
          Sign In <cite title="Source Title"><footer class="blockquote-footer">as</cite></footer>
        </blockquote>
    </div>
    <div class="card-body">
        <%= render 'user_sessions/form' %>
    </div>
</div>