<header class="navbar navbar-dark navbar-full bg-primary doc-navbar-default">
  <button aria-controls="navdrawerDefault" aria-expanded="false" aria-label="Toggle Navdrawer" class="navbar-toggler" data-target="#navdrawerDefault" data-toggle="navdrawer"><span class="navbar-toggler-icon"></span></button>
  <span class="navbar-brand mr-auto">the-paste</span>
</header>