<div aria-hidden="true" class="navdrawer" id="navdrawerDefault" tabindex="-1">
  <div class="navdrawer-content">
    <div class="navdrawer-header">
      <a class="navbar-brand px-0" href="#">the-paste</a>
    </div>
    <p class="navdrawer-subheader">Services</p>
    <ul class="navdrawer-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="material-icons mr-3">chat_bubble_outline</i> Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="material-icons mr-3">help_outline</i> Help</a>
      </li>
    </ul>
    <div class="navdrawer-divider"></div>
    <p class="navdrawer-subheader">Account Management</p>
    <ul class="navdrawer-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="material-icons mr-3">person</i> Sign In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="material-icons mr-3">person_add</i> Sign Up</a>
      </li>
    </ul>
  </div>
</div>